/*

							MAIN CSS

CSS - RESET

v2.0 | 20110126
   License: none (public domain)

*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	/*margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;*/
    border: 0;
    padding: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
-----------===  END OF CSS-RESET  ===-----------------
*/

html, body {
    height: 100%;
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
}

/* CSS-NAVIGATION */

/* CSS-NAVIGATION */

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

nav {
    margin-right: 100px;
}

#logo {
    margin-left: 100px;
}

ul {
    width: 540px;
    display: flex;
    justify-content: space-between;
}

li {
    display: inline-block;
    border: 1px black solid;
    border-radius: 5px;
    padding: 14px 0;
    width: 128px;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

/* END OF CSS-NAVIGATION */


/* END OF CSS-NAVIGATION */

/* SLIDER */

.carousel-caption {
    color: #f8f8f8;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    border-color: rgba(0, 0, 0, 0.4);
    border-style: solid;
}

.carousel-caption h1 {
    font-size: 3rem;
    margin-bottom: 15px;
}

.carousel-caption p {
    font-size: 1.3rem;
    margin-bottom: 30px;
}

.carousel-caption a {
    font-size: 2rem;
    color: rgba(255,255,255,1);
    text-decoration: none;
    background: rgba(48,51,60,0.9);
    padding: 15px 10px 15px 10px;
    width: 30%;
    margin: 0 auto;
    border-radius: 10px;
    border-color: rgba(48,51,60,0.9);
    border-style: solid;
}

.carousel-caption a:hover {
    text-decoration: none;
    font-weight: 700;
}

/* END OF SLIDER */


/* PRODUCT */

#product {
    background-color: #EFEFEF;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.product-feature {
    margin-top: 30px;
    margin-bottom: 30px;
}

.product-feature p {
    line-height: 20px;
}

.product-feature span {
    font-size: 70px;
}

/* END OF PRODUCT */

/*******************************************/
/*              SIGN IN FORM               */
/*******************************************/
.sign_in_form {
    margin-top: 15px;
    text-align: center;
    background: #2d4866;
    height: 120px;
    width:100%;

}
.form-control {
    width: 50%;
    border-radius: 5px;
    font-style: italic;
    margin:0 auto;

}
.form-group p {
    color: white;
}
